@font-face{
    font-family: myFont;
    src: url(./fonts/PPRightGothic-WideMedium.woff);
}
body{
    /* background-color: red; */
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    padding-left: 100px;
}
.navbar.scrolled {
    background:#121212;
    transition: background 500ms;
}
.logo{
    width: 188.53px;
    height: 30px;
}

.sect-1{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url(./images/vector1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #121212;
}
.init-txt{
    width: 923px;
    height: 250px;
    text-align: center;
    font-family: myFont;
    margin-bottom: 50px;
    /* background-color: yellowgreen; */
}
.init-txt h3{
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
.init-txt p{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #B3B3B3;
}
.download{
    background-color: #F9956B;
    border: none;
    border-radius: 8px;
    width: 143px;
    height: 43px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 0;
    /* align-self: stretch; */
}
.test{
    height: 325px;
    width: 600px;
    display: flex;
    align-items: end;
}
.temp{
    height: 318px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.iphone-top{
    position: absolute;
    height: 318px;
}
.menu{
    height: 250px;
    width: 250px;
    position: absolute;
    margin-left: 300px;
}


.sect-2{
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(./images/featuresbkg.svg);
    background-size: cover;
    mix-blend-mode: multiply;
}
.ft-box{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.ft-box h3{
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #222222;
}
.link-cont{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}
.link1, .link2, .link3{
    width: 117px;
    height: 43px;
    color: #121212;
    background: none;
    border: none;
    border-radius: 8px;
    font-family: "Manrope", sans-serif;
}
.btn:hover{
    background-color: #F9956B;
    color: #FFFFFF;
}
.clicked{
    background-color: #F9956B;
    color: #FFFFFF;
}
.heading{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    color: #222222;
}
.prg{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4D4D4D;
}
.phone{
    height: 500px;
    width: 250px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 40px 40px rgba(18, 18, 18,0.2);
}
.iphone{
    position: relative;
    height: 500px;
    width: 299px;
}
.state{
    position: absolute;
    height: 475px;
    width: 262px;
    border-radius: 33px;
}


.sect-3{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
}
.sect-3 h3{
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    color: #121212;
    align-self: center;
    justify-self: center;
}
.templates{
    width: 100%;
    height: 446.67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.bvnbox{
    width: 326.67px;
    height: 446.67px;
    background-color: #F9956B;
    border: 1px solid #E6E6E6;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/bvnbkg.svg);
    background-size: cover;
}
.otpbox{
    width: 326.67px;
    height: 446.67px;
    background-color: #F9956B;
    border: 1px solid #E6E6E6;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/otpbkg.svg);
    background-size: cover;
}
.pinbox{
    width: 326.67px;
    height: 446.67px;
    background-color: #F9956B;
    border: 1px solid #E6E6E6;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/bvnbkg.svg);
    background-size: cover;
}
.bvn, .otp, .pin{
    width: 220px;
    height: 476.37px;
    align-self: center;
}
.hd{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 20px;
}
.hd:nth-child(1){
    margin-left: 20px;
    margin-top: 30px;
}
.txt{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 30px;
}
.txt:nth-child(2){
    margin-left: 20px;
}
.sect-4{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: green;
}

.sect-5{
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: rgb(1, 0, 5);
}

.yurline{
    /* width: 133.82px; */
    /* height: 30px; */
    /* right: 420px; */
    /* top: 55px; */
    /* background-color: #E6E6E6; */
    width: 850px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    
    
}


.yurlogo{
    width: 133.82px;
    height: 30px;
    /* right: 420px;
    top: 55px; */

}

.contact{
    width: 200px;
    height: 30px;
    /* right: 133xpx;
    top: 55px; */
    color: #040000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
}
.contact a{
    text-decoration: none;
}
